@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
  font-family: 'Open Sans', light;
  margin: 0;
  width: 100%;
}
h1, h2 {
  font-family: 'Rock Salt', cursive;
  margin: 0;
}
img {

}
input {

}
button {

}
nav ul {

}
nav ul li {

}
.header {

}
.header h1 {

}
.footer {

}
.content {

}
.row {

}
.column {

}
.note {

}
.request {

}